.cabecalho__descricao {
    color: var(--cor-primaria-texto);
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
}
/*versão para telas com largura máxima de 768px*/
@media (max-width: 768px) {
    .cabecalho__descricao {
        font-size: 1rem;
    }
}