.cabecalho__titulo {
    font-family: 'Poppins', 'Arial', sans-serif;
    color: #000;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 16px;
}
.cabecalho__titulo--destaque {
    color: #6038AC;
}
/*versão para telas com largura máxima de 768px*/
@media (max-width: 768px) {
    .cabecalho__titulo {
        font-size: 24px;
    }
}