.card__conteudo {
    width: 320px;
    height: auto;
    padding: 8px 0;
    display: inline-block;
    cursor: pointer;
    background: linear-gradient(112.51deg, #FFFFFF 32.08%, #F5F5F5 64.65%);
    border-radius: 0 0 32px 32px;
    text-decoration: none;
}
.card__conteudo[open] .card__titulo:before {
    content: "-";
}
/*versão para telas com largura máxima de 768px*/
@media (max-width: 768px) {
    .card__conteudo {
        width: 100%;
    }
}