.card__conteudo {
    background: var(--cor-card);
    border-radius: 0 0 32px 32px;
    cursor: pointer;
    display: inline-block;
    height: auto;
    padding: 8px 0;
    text-decoration: none;
    width: 320px;
}
.card__conteudo[open] .card__titulo::before {
    content: "-";
}
/*versão para telas com largura máxima de 768px*/
@media (max-width: 768px) {
    .card__conteudo {
        width: 100%;
    }
}