.card__titulo {
    color: var(--cor-secundaria-texto);
    font-size: 1.25rem;
    font-weight: 700;
    padding: 16px;
}
.card__titulo::marker {
    color: var(--cor-terciaria-texto);
    content: "";
    font-weight: 600;
}
.card__titulo::-webkit-details-marker {
    display: none;
}
.card__titulo:before {
    color: var(--cor-terciaria-texto);
    content: "+";
    font-size: 20px;
    font-weight: 600;
    margin-right: 24px;
}