.card__imagem {
    border-radius: 32px 32px 0 0;
    display: block; /*imagem em cima do texto*/
    height: 320px;
    width: 320px;
}
/*versão para telas com largura máxima de 768px*/
@media (max-width: 768px) {
    .card__imagem {
        height: 100%;
        width: 100%;
    }
}